body {
    color: black;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Taustaväri, jos kuva ei lataudu */
    background-image: url('paper-applications-with-recycle-logo.jpg'); /* Taustakuva */
    background-size: cover; /* Kuvan venytys koko taustalle */
    background-position: center; /* Kuva keskittyy keskelle */
    background-repeat: no-repeat; /* Ei toista kuvaa */
    background-attachment: fixed; /* Taustakuva pysyy paikallaan vieritettäessä */
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(167, 188, 91, 0.8); 
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    flex: 1; 
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: black;
}
h4 {
    margin: 20px 0 5px 0;
}

.report-section, .sub-options-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

.report-item, .sub-option-item {
    width: 150px;
    padding: 20px;
    margin: 10px 5px;
    background-color: rgba(167, 188, 91, 0.8);
    color: black;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.report-item:hover, .sub-option-item:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}
.report-item:active, .sub-option-item:active {
    background-color: darkgray;
}

.report-item i, .sub-option-item i {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 15px;
}

.report-item:hover i, .sub-option-item:hover i {
    color: black;
}


.report-item p, .sub-option-item p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.selected {
    background-color: #8da242;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#selected-category {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}

#back-btn {
    margin: 15px 0;
    cursor: pointer;
    color: blue;
}

.sub-options-section {
    padding: 15px 10px;
    margin: 15px 0;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* background-color: rgba(167, 188, 91, 0.8); */
}

#location-input {
    margin-top: 15px;
}

.final-selection-list {
    list-style-type: none; /* Hides the bullet points */
    margin-left: 0;        /* Removes any default left margin */
    padding-left: 0;       /* Removes any default padding */
    font-size: 1.1em;
    
}

#additional-info {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    align-items: center;
}

#additional-details {
    width: 60%;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical; /* Allows vertical resizing */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Modal Content */
.modal-content {
    background-color: #ffffff;
    margin: 10% auto; /* 15% from top and centered */
    padding: 20px;
    border-radius: 8px;
    width: 30em; /* Modal width */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

/* Style for submit button */
#submit-btn {
    margin-top: 20px; /* Lisää marginaalia ylös, jos haluat etäisyyden footerista */
    margin-bottom: 20px; /* Lisää marginaalia alas, jotta se ei kosketa footeria */
    padding: 12px 24px;
    background-color: rgba(167, 188, 91, 0.8); /* Vaihda taustaväri haluamaksesi */
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #ffffff; /* Muuta hover-väri, jos haluat */
}

#submit-btn:active {
    background-color: lightblue;
}

#submit-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

#goHomeBtn {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#goHomeBtn:hover {
    background-color: #0056b3;
}
#goHomeBtn:active {
    background-color: lightblue;
}

#goHomeBtn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

#closeModalBtn {
    padding: 6px 12px;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#closeModalBtn:hover {
    background-color: lightgray;
}
#closeModalBtn:active {
    background-color: darkgray;
}

#closeModalBtn:focus {
    outline: none;
    box-shadow: 0 0 0 3px darkgray;
}

footer {
    background-color: rgba(167, 188, 91, 0.8); /* Vaaleanvihreä väri 80% peittävyydellä */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}